:root {
	--font-sans: "Outfit", sans-serif;
	--font-system: -apple-system, BlinkMacSystemFont, segoe ui, Ubuntu,
		Californian FB, avenir next, avenir, helvetica neue, helvetica, Roboto, noto,
		arial, sans-serif;

	/* COLORS */
	--black: #202124;
	--black-darker: #121212;
	--black-lighter: #232323;
	--black-lightest: #444;
	--black-gradient: linear-gradient(to right, #24243e, #141e30, #0f0c29);
	--white: #f2f5f7;
	--gray: #eee;
	--red: #ea4335;
	--orange: orange;
	--yellow: gold;
	--green: #34a853;
	--blue: dodgerblue;
	--blue-pastel: #a2caff;
	--purple: mediumpurple;
	--purple-pastel: #c3b1e1;
	--linkedin: #0077b5;
	--resume: #228b22;

	/* ANIMATIONS */
	--fast: 0.2s ease;
	--slow: 0.4s ease;

	--downright: translate(4px, 4px);
	--rise: translate(0, -0.5rem);
	--scale: scale(1.025);

	/* GENERAL ASSIGNMENTS */
	--bg: ;
	--text: ;
	--animation: ;

	--box-shadow: 4px 4px 0 0 var(--black-lighter);
	--box-shadow-darker: 4px 4px 0 0 var(--black-lightest);

	--box-shadow-clay: 8px 8px 16px 0 rgba(0, 0, 0, 0.25),
		inset -8px -8px 16px 0 rgba(0, 0, 0, 0.25),
		inset 8px 8px 16px 0 hsla(0, 0%, 100%, 0.2);

	/* THEMES */
	--light-bg: var(--white);
	--light-text: var(--black);

	--dark-bg: var(--black-darker);
	--dark-text: var(--white);

	--red-bg: var(--red);
	--red-text: var(--white);

	--orange-bg: var(--orange);
	--orange-text: var(--black);

	--yellow-bg: var(--yellow);
	--yellow-text: var(--black);

	--green-bg: var(--green);
	--green-text: var(--white);

	--blue-bg: var(--blue);
	--blue-text: var(--white);

	--purple-bg: var(--purple);
	--purple-text: var(--white);

	--clay-bg: var(--blue-pastel);
	--clay-text: var(--black);
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	font-family: var(--font-sans);
	padding: clamp(1.5rem, 5vw, 4rem);
	background: var(--bg);
	color: var(--text);
	line-height: 1.4;
	text-align: center;
}

svg {
	margin: 1rem;
}

main {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: clamp(2.25rem, 7vw, 4rem);
	font-weight: 700;
	margin: 1rem 0 -0.75rem;
}

h2 {
	font-size: clamp(1.25rem, 1.5vw, 2.5rem);
	font-weight: 500;
	margin: 1rem 0 -0.75rem;
}

p {
	font-size: clamp(1.25rem, 1vw, 1.75rem);
	font-weight: 500;
	margin-top: -0.5rem;
}

a {
	display: block;
	font: inherit;
	text-align: center;
	background: none;
	text-decoration: none;
	border: none;
	cursor: pointer;
	border: var(--border);
	background: var(--bg);
	color: var(--text);
	padding: 1rem 2rem;
	font-size: 1.25rem;
	font-weight: 500;
	width: 17rem;
	line-height: 1.2;
	margin-bottom: 1rem;
	border-radius: 0.5rem;
	box-shadow: var(--box-shadow);
	transition: var(--fast);
	backdrop-filter: ;
	-webkit-backdrop-filter: ;
	background-color: ;
	border: ;
}
