	transform: var(--animation);
	--animation: var(--downright);
}

[id="blue"]:checked ~ main {
	background: var(--bg);
	--bg: var(--blue-bg);
	color: var(--text);
	--text: var(--blue-text);
	transform: var(--animation);
	--animation: var(--downright);
}

[id="purple"]:checked ~ main {
	background: var(--bg);
	--bg: var(--purple-bg);
	color: var(--text);
	--text: var(--purple-text);
	box-shadow: ;
	transform: var(--animation);
	--animation: var(--downright);
}

[id="clay"]:checked ~ main {
	background: var(--bg);
	--bg: var(--clay-bg);
	color: var(--text);
	--text: var(--clay-text);
	box-shadow: var(--box-shadow);
	--box-shadow: var(--box-shadow-clay);
	transform: var(--animation);
	--animation: var(--scale);
} /*
body {
	font-family: var(--font-sans);
	padding: clamp(1.5rem, 5vw, 4rem);
	background: var(--bg);
	color: var(--text);
	line-height: 1.4;
	text-align: center;

}*/
