	--red-text: var(--white);

	--orange-bg: var(--orange);
	--orange-text: var(--black);

	--yellow-bg: var(--yellow);
	--yellow-text: var(--black);

	--green-bg: var(--green);
	--green-text: var(--white);

	--blue-bg: var(--blue);
	--blue-text: var(--white);

	--purple-bg: var(--purple);
	--purple-text: var(--white);

	--clay-bg: var(--blue-pastel);
	--clay-text: var(--black);
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	font-family: var(--font-sans);
	padding: clamp(1.5rem, 5vw, 4rem);
	background: var(--bg);
	color: var(--text);
	line-height: 1.4;
	text-align: center;
}
